# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.controltest.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Danila\Desktop\HomeWorkIT\controltest\.idea\.idea.controltest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
